<nav>
  <div class="nav-wrapper">
    <%= link_to "Basic Store", root_path, class: "brand-logo" %>
    <% if user_signed_in? %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= "Signed in as #{current_user.email}" %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>
  </div>
</nav>
