<div class="product-listings">
  <div class="section">
    <h1>Products</h1>
  </div>
  <div class="divider"></div>
  <div class="row section">
    <% @products.each do |product| %>
      <div class="col s4 m4">
        <div class="card indigo darken-1">
          <div class="card-content white-text">
            <p><%= product.name %></p>
            <p><%= product.brand %></p>
            <p><%= product.model %></p>
            <p>$<%= product.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
